.header-all {
    display: flex;
    justify-content: space-between;
    background-color: #032541;
    color: white;
    height: 60px;
}
.header-all p {
    font-weight: 700;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-right: 100px;
}
.header-left {
    gap: 25px;
    align-items: center;
    display: flex;
    padding-left: 100px;
}
.header-left a {
    text-decoration: none;    
}
.header-left img {
    width: 150px;
}
.pt {
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}
.dropdown {
    cursor: pointer;
    font-weight: 600;
}
.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    color: white;
    background-color: #032541;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 180px;
    height: 150px;
    align-items: flex-start;
}
.dropdown-content a:visited {
    color: white;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown-content:hover{
    display: flex;
}
.dropdown-content p:hover {
    width: 170px;
    background-color: #043358b7;
}
.dropdown-content p {
    font-size: 15px;
    padding: 5px;
}   